---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-avoid-bind,
  modernize-use-using,
  modernize-use-bool-literals,
  modernize-use-equals-default,
  modernize-concat-nested-namespaces,
  modernize-avoid-c-style-cast,

FormatStyle: file